body {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFEA;
    display: grid;
    grid-template-columns:repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFEA;
    grid-area: 1 / 1 / 3 /21;
    background-color: #FF5E5B;
    
}
header h1 {
    font-family: 'Spectral SC', serif;
    font-size: 36;
}

.category_container {
    grid-area: 4 / 4 / 6 / 18;
    background-color: #FF5E5B;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    
}

.answer_container {
    grid-area: 6 / 4 / 18 / 18;
    display: grid;
    background-color: #00CECB;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    

}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #00CECB;
    font-size: 18px;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    height: 70%;
    width: 80%;
    background-color: #FFED66;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    border: 2px solid #00CECb;

}


.answers {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #FF5E5B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    background-color: #FFED66;
    border: 2px solid #FF5E5B;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
}

.answers:hover {
    
    color:#FFED66;
    background-color: #FF5E5B;
    border: 2px solid #FFED66;
    cursor: pointer;
}

#Pscore1, #Pscore2{
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    background-color: #D8D8D8;  
    border-radius: 5px;
    border: 3px solid #FF5E5B;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Pscore1{
    grid-area: 19/ 5 / 21 / 8;
}

#Pscore2{
      grid-area: 19/ 14 / 21 / 17;
 
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.3)
}

.modal-content{
    background-color: #FF5E5B;
    margin: 10% auto;
    padding: 30px;
    width: 20%;
    height: 50% ;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    border-radius: 30px;
    border: 4px solid #00CECb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.answerCard{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    height: 30%;
    width: 95%;
    background-color: #FFED66;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionChoice{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 12.5%;
    width: 95%;
    background-color: #00CECb;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionChoice:hover{
    border: 3px solid #FFED66;
    cursor: pointer;
    color: #FF5E5B;
}