body {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFEA;
    display: grid;
    grid-template-columns:repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFEA;
    grid-area: 1 / 1 / 3 /21;
    background-color: #FF5E5B;
    
}
header h1 {
    font-family: 'Spectral SC', serif;
    font-size: 36;
}

.category_container {
    grid-area: 4 / 4 / 6 / 18;
    background-color: #FF5E5B;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    
}

.answer_container {
    grid-area: 6 / 4 / 18 / 18;
    display: grid;
    background-color: #00CECB;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    

}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00CECB;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    height: 70%;
    width: 80%;
    background-color: #FFED66;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    border: 2px solid #00CECb;

}
.column{
    display: grid;
    grid-template-rows: repeat(5, 20%)
}

.answers {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #FF5E5B;
    display: flex;
    justify-content: center;
    align-items: center;
        height: 70%;
    width: 80%;
    background-color: #FFED66;
    border: 2px solid #FF5E5B;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
}

.answers:hover {
    font-size: 30px;
    color:#FFED66;
    background-color: #FF5E5B;
    border: 4px solid #FFED66;
}

#Pscore1, #Pscore2{
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    background-color: #D8D8D8;  
    border-radius: 5px;
    border: 3px solid #FF5E5B;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Pscore1{
    grid-area: 19/ 5 / 21 / 8;
}

#Pscore2{
      grid-area: 19/ 14 / 21 / 17;
 
}